.hearing-notice-body {
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

a {
  color: #00B7FF;
}

.hearing {
	text-align: center;
	font-weight: bolder;
}

h1 {
	font-size: 18px;
	font-weight: bold;
}

h2 {
	font-size: 14px;
	font-weight: bold;
}

div#abbreviated {
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}